<div class='form'>
  <%= form_with(model: @inventory) do |form| %>
    <% if @inventory.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

        <ul>
          <% @inventory.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='form-text-field'>
      <%= form.label :color, style: "display: block" %>
      <%= form.text_field :color %>
    </div>

    <div class='form-text-field'>
      <%= form.label :size, style: "display: block" %>
      <%= form.text_field :size %>
    </div>

    <div class='form-text-field'>
      <%= form.label :quantity, style: "display: block" %>
      <%= form.text_field :quantity %>
    </div>

    <div class='form-price'>
      <%= form.label :price, style: "display: block" %>
      $ <%= form.text_field :price %>
    </div>

    <div class='form-text-field'>
      <%= form.label :image, style: "display: block" %>
      Current image <br>
      <% if @inventory.image.url %>
        <%= image_tag @inventory.image.url %>
      <% else %>
        No current image
      <% end %>
      <%= form.file_field :image %>
    </div>

    <div>
      <%= form.label :product, style: "display: block" %>
      <%= form.text_field :product_id, :value => @product_title, :readonly => true %>
      <%= form.hidden_field :product_id, value: inventory.product_id=%>
    </div>

    <div class='form-button'>
      <%= form.submit %>
    </div>
  <% end %>
</div>