<div id="<%= dom_id inventory %>" class='inventory_card'>
  <p>
    <strong>Color:</strong>
    <%= inventory.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= inventory.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= inventory.product.title %>
  </p>

  <%= link_to "Edit this inventory", edit_inventory_path(inventory) %> 
</div>