<% if inventory.published?|| logged_in?(:site_admin) %>
  <div id="<%= dom_id inventory %>" class='inventory_card'>

    <%= image_tag check_image(inventory.image.url), size: "350x200" %>

    <br>
    <br>

    <p>
      <strong>Color:</strong>
      <%= inventory.color %>
    </p>

    <br>

    <p>
      <strong>Size:</strong>
      <%= inventory.size %>
    </p>

    <br>

    <p>
      <strong>Left in stock:</strong>
      <%= inventory.quantity %>
    </p>

    <br>

    <p>
      <strong>Price:</strong>
      $<%= inventory.price %>
    </p>


    <%= link_to "Edit this inventory", edit_inventory_path(inventory) if logged_in?(:site_admin) %> 
  </div>
  <% end %>