<div id="<%= dom_id inventory %>">
    <p>
    <strong>Color:</strong>
    <%= inventory.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= inventory.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory.quantity %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= inventory.product.title %>
  </p>
</div>
