<p style="color: green"><%= notice %></p>

<%= render @inventory %>

<div>
  <%= link_to "Back to inventories", inventories_path %> |
  <%= link_to "Show this Inventory's Product", product_path(@inventory.product_id) %>

  <%= button_to "Destroy this inventory", @inventory, method: :delete if logged_in?(:site_admin) %>
</div>
