<div class='home-container'>
  <p style="color: green"><%= notice %></p>

  <div class='home-element' >
    <%= render 'shared/home_banner' %>
  </div>

  <div class='home-element'>

    <div id="categories">
      <% @categories.each do |category| %>
        <%= link_to category do %>
          <div class='category-card'>
            <%= category.title %>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to "New category", new_category_path %>
  </div>
</div>