<div class='home-container'>
  <p style="color: green"><%= notice %></p>

  <div class='home-element' >
    <%= render 'shared/home_banner' %>
  </div>

  <div class='home-element'>

    <div id="categories">
      <% @categories.each do |category| %>
        <div class='category-card'>
          <%= render category %>
          <p>
            <%= link_to "Show this category", category %>
          </p>
        </div>
      <% end %>
    </div>

    <%= link_to "New category", new_category_path %>
  </div>
</div>