<p style="color: green"><%= notice %></p>

<div class='breadcrumb-nav'>
  <%= link_to 'Home', root_path %> > <%= @category.title %>
</div>

<%= render @category %>

<%= link_to "Add Product", new_product_path(:category_id => @category.id) if logged_in?(:site_admin) %>

<div class='category-products-container'>     
  <% @category.products.each do |product| %>
    <% if product.published?|| logged_in?(:site_admin) %>
      <div class='category-products'>
        <%= link_to product do %>
          <div class='product-link-title'>
            <%= product.title %>
          </div>
          <%= image_tag(check_image(product.image), size: "350x200")  %>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) if logged_in?(:site_admin) %> |
  <%= link_to "Back to Home", categories_path %>
</div>
