<p style="color: green"><%= notice %></p>

<div class='breadcrumb-nav'>
  <%= link_to 'Home', root_path %> > <%= @category.title %>
</div>

<%= render @category %>

<h4>Items</h4>

<%= link_to "Add Product", new_product_path(:category_id => @category.id) if logged_in?(:site_admin) %>

<div>     

  <% @category.products .each do |product| %>
    <%= link_to product do %>
      <%= product.title %>
      <%= product.description %>
      <%= product.price %>
    <% end %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) if logged_in?(:site_admin) %> |
  <%= link_to "Back to Home", categories_path %>
</div>
