<div class='form'>
  <% if Category.any? %>
    <%= form_with(model: product) do |form| %>
      <% if product.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-text-field'>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>
      </div>

      <div class='form-text-area'>
        <%= form.label :description, style: "display: block" %>
        <%= form.rich_text_area :description %>
      </div>

      <div class='form-product-inputs'>
 <!--        <div class='form-price'>
          <%= form.label :price, style: "display: block" %>
          <%= form.text_field :price %>
        </div> -->

      <div class='form-dropdown'>
        <%= form.label :category, style: "display: block" %>
        <%= form.text_field :category_id, :value => @category_title, :readonly => true %>
        <%= form.hidden_field :category_id, value: product.category_id %>
      </div>

    <!--     <div class='form-dropdown'>
          <%= form.label :category, style: "display: block" %>
          <%= form.select :category_id, options_from_collection_for_select(Category.all, 'id', 'title', params[:category_id]) %>
        </div> -->
      </div>

      <br>

      <div class=''>
        <div>
          <%= form.radio_button :status, 'draft' %>
          <%= form.label :status, 'Draft' %>
        </div>
        <br>
        <div>
          <%= form.radio_button :status, 'published' %>
          <%= form.label :status, 'Published' %>
        </div>
      </div>

      <!--  -->

      <div class='form-button'>
        <%= form.submit %>
      </div>

    <% end %>
  <% else %>

        <%= link_to 'You need to create a category first', new_category_path %>
        
  <% end %>
</div>
