<p style="color: green"><%= notice %></p>

<div class='breadcrumb-nav'>
  <%= link_to 'Home', root_path %> > All Products
</div>

<!-- <div class="products-container">
  <% @products.each do |product| %>
    <% if product.published? || logged_in?(:site_admin) %>
        <%= link_to product do %>
          <div class='products'>
            <%= product.title %>
            <%= product.description %>
            <%= image_tag(check_image(product.image), size: "350x200")  %>
          </div>
        <% end %>
      <% end %>
  <% end %>
</div> -->

<div class='category-products-container'>     
  <% @products.each do |product| %>
    <% if product.published? || logged_in?(:site_admin) %>
      <div class='category-products'>
        <%= link_to product do %>
          <div class='product-link-title'>
            <%= product.title %>
          </div>
          <%= image_tag(check_image(product.image), size: "350x200")  %>
        <% end %>
      </div>
      <% end %>
  <% end %>
</div>

<%= link_to "New product", new_product_path if logged_in?(:site_admin) %>
