<p style="color: green"><%= notice %></p>

<div class='breadcrumb-nav'>
  <%= link_to 'Home', root_path %> > 
  <%= link_to @product.category.title, category_path(@product.category.id) %> > 
  <%= @product.title %>
</div>

<%= image_tag check_image(@image.url) %>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) if logged_in?(:site_admin) %>
</div>

<div>
  <h4>Inventory</h4>

  <%= link_to "Add Inventory", new_inventory_path(:product_id => @product.id) if logged_in?(:site_admin) %>

  <div class="inventories">
    <%= render @product.inventories %>
  </div>
</div>
