<!DOCTYPE html>
<html>
  <head>
    <title>SarisCollections</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id='page-container'>
      <%= render 'shared/nav' %>
      <div id='content-container'>
        <div id='content'>
          <%= yield %>
        </div>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
